body {
  background-color: #383636;
}

.app {
}

.lineChart {
  position: relative;
  margin: 20px;
  padding: 20px;
  overflow: auto;
}

.barChart {
  margin: 10px;
  padding: 3px;
  overflow: auto;
}

.eclChart {
  margin: 10px;
  padding: 3px;
}

.panel {
  display: flex;
  justify-content: space-between;
  color: #fff;
}