body {
  background-color: #383636;
}

.app {
  padding: 30px;
  margin: 30px;
  border: 1px dashed white;
  border-radius: 10px;
}

.lineChart {
  position: relative;
  overflow: auto;
}

.barChart {
  //margin: 10px;
  padding: 3px;
  overflow: auto;
}

.slider {
  max-width: 2230px;
  padding-left: 40px;
}

.eclChart {
  margin: 10px;
  padding: 3px;
}

.panel {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.bar-chart {
  
}

.bar-chart-rect {
  
}

.y-axis {
  
}